table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 2px 5px;
    border: 1px solid black;
}

td {
    padding: 2px 5px;
    border: 1px solid black;
}

thead {
    background: #ddd;
}

table.result-table.js-sort-0 tbody tr td:nth-child(1),
table.result-table.js-sort-1 tbody tr td:nth-child(2),
table.result-table.js-sort-2 tbody tr td:nth-child(3),
table.result-table.js-sort-3 tbody tr td:nth-child(4),
table.result-table.js-sort-4 tbody tr td:nth-child(5),
table.result-table.js-sort-5 tbody tr td:nth-child(6),
table.result-table.js-sort-6 tbody tr td:nth-child(7),
table.result-table.js-sort-7 tbody tr td:nth-child(8),
table.result-table.js-sort-8 tbody tr td:nth-child(9),
table.result-table.js-sort-9 tbody tr td:nth-child(10),
table.result-table.js-sort-10 tbody tr td:nth-child(11),
table.result-table.js-sort-11 tbody tr td:nth-child(12),
table.result-table.js-sort-12 tbody tr td:nth-child(13),
table.result-table.js-sort-13 tbody tr td:nth-child(14),
table.result-table.js-sort-14 tbody tr td:nth-child(15) {
    background: #dee;
}

.table-container {
    overflow-x: auto;
    width: 100%;
}

/* Table for three sub-tasks */
.result-table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

/*table tile*/
.result-table th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    background-color: var(--UCLA-darkblue);
    /* color: white; */
}

.result-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.result-table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.result-table tr:hover {
    background-color: #ddd;
}

.js-sort-number:hover {
    text-decoration: underline;
    cursor: pointer;
}

.js-sort:hover {
    text-decoration: underline;
    cursor: pointer;
}

.best-score-text {
    color: #C6011F
    /* color: #3457D5 */
}
